@*@{
        ViewBag.Title = "MenuLeft";
        //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }*@
@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model.Any() && Model != null)
{
    <ul class="sidebar_categories">
        @foreach (var item in Model)
        {

            if (ViewBag.CateId == item.Id)
            {
                <li><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a></li>

            }
            else
            {
                <li class="active"><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Title</a></li>

            }
        }


        @*<li><a href="#">men</a></li>
        <li><a href="#">accessories</a></li>
        <li><a href="#">new arrivals</a></li>
        <li><a href="#">collection</a></li>
        <li><a href="#">shop</a></li>*@
    </ul>
}


