@model IEnumerable<WebBanHangOnline.Models.EF.Category>



@*@{
        ViewBag.Title = "_MenuTop";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }*@

@if (Model.Any() && Model != null)
{
    <ul class="navbar_menu">
        @foreach (var item in Model)
        {
            if (item.Alias.Equals("trang-chu"))
            {
                item.Alias = "";
            }
            <li><a href="/@item.Alias">@item.Title</a></li>
        }
    </ul>
}

